.footer {
  @include desktop {
  }

  &__body {
    border-bottom: var(--border);
    padding: 81px 140px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include desktop {
      padding: 81px 40px;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 40px;
      justify-items: center;
    }
    @include tablet {
      padding: 30px 20px;
    }
  }

  &__column {
    width: 200px;

    @include mobile {
      width: 100px;
    }

    &--form {
      width: 100%;
      @include mobile {
        grid-column: span 2;
      }
    }
  }

  &__column:first-child {
    margin-right: 60px;

    @include desktop {
      margin-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__address {
    @include fluid-text(13, 10);
    display: inline;
    background-color: var(--color-dark);
    line-height: 138%;

    @include hover {
      background-color: transparent;
    }
  }

  &__link {
    @include fluid-text(13, 10);
    background-color: var(--color-dark);
    line-height: 138%;

    @include hover {
      background-color: transparent;
    }
  }

  &__logo {
    margin-bottom: 27px;

    @include mobile {
      margin-bottom: 10px;
      width: 70px;
    }
  }

  &__title {
    @include fluid-text(13, 11);
    margin-bottom: 17px;

    line-height: 138%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__title--news {
    @include fluid-text(20, 15);
    margin-bottom: 20px;
    font-weight: 500;

    line-height: 135%;
  }

  &__description {
    @include fluid-text(16, 12);
    line-height: 137%;
  }

  &__form {
    display: flex;
  }

  &__copyright {
    @include fluid-text(12, 9);

    padding: 21px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 142%;
    text-transform: uppercase;

    @include desktop {
      padding: 21px 60px;
    }

    @include mobile {
      padding: 10px 20px;
    }
  }

  &__soc1al {
    display: flex;
    column-gap: 20px;
    align-items: center;

    @include mobile {
      column-gap: 5px;
    }
  }
}
