.quote {
  width: 100%;
  padding-inline: 122px;

  @include desktop {
    padding-inline: 50px;
  }

  @include tablet {
    padding-inline: 30px;
  }

  @include mobile {
    padding-inline: 15px;
  }

  &__container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-inline: 20px;
    }
  }

  &__quote-icon {
    margin-bottom: 35px;
  }

  &__description {
    @include fluid-text(40, 28);

    max-width: 897px;
    margin-bottom: 62px;

    line-height: 134%;
    text-align: center;

    @include tablet {
      max-width: 800px;
    }

    @include mobile {
      max-width: 600px;
      margin-bottom: 30px;
    }
  }

  &__dagger-icon {
    margin-bottom: 52px;

    @include mobile {
      margin-bottom: 30px;
    }

  }

  &__thumbnails {
    display: flex;
    align-items: center;
    column-gap: 0px;
  }
}
