.header {
  max-width: 92%;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid var(--color-dark);
  margin: auto;

  @include mobile {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 50px;
    flex-shrink: 0;

    @include tablet {
      margin-right: 24px;
    }
  }

  &__nav {
    margin-right: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 48px;

    font-size: 16px;

    @include tablet {
      column-gap: 24px;
    }
  }

  &__link {
    background-color: var(--color-dark);

    @include hover {
      background-color: transparent;
    }
  }

  .buttons-menu {
    --buttonsMenuMarginRight: 24px;

    font-size: 14px;
    display: flex;
    align-items: center;

    &__search {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-right: var(--buttonsMenuMarginRight);
      text-transform: uppercase;
      cursor: pointer;

      @include reset-button;
    }

    &__cards {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-right: var(--buttonsMenuMarginRight);
      text-transform: uppercase;
    }

    &__favorites {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-right: var(--buttonsMenuMarginRight);
    }
  }
}
