:root {
    --color-dark: #000;
    --color-light: #fff;

    --border: 1px solid var(--color-dark);

    --font-family: 'Noto Sans', sans-serif;

    --button-height: 41px;

    --transition-duration: 0.3s;
}